# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub 
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# ==> New
# Firebase configuration files (Android and iOS)
android/app/google-services.json  # File konfigurasi Firebase untuk Android
ios/Runner/GoogleService-Info.plist  # File konfigurasi Firebase untuk iOS
firebase.json  # File Firebase yang mungkin digunakan untuk identifikasi aplikasi

# Environment variables file
# .env  # Digunakan untuk menyimpan kunci API dan rahasia lain (Belum menggunakan .env)

# Flutter build folders
android/app/build/  # Artefak build Android
ios/Flutter/App.framework  # Artefak build iOS (kerangka kerja aplikasi Flutter)